.error-container {
   position: absolute;
   background-color: rgb(55, 0, 255);
   color: rgb(151, 67, 154);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 255, 17, 0.3);
   white-space: nowrap;
   transform: translate(-50%, -50%);
   z-index: 999;
}
