.card {
   margin: 0 auto;
}

/* Page header */

h3 {
   font-size: 3rem;
   text-align: center;
   padding: 20px;
}

h6 {
   font-size: 1.5em;
   padding-bottom: 10px;
}

/* Current User */

.user-display-container {
   position: absolute;
   top: 30px;
   right: 100px;
}

@media (max-width: 844px) {
   h3 {
      font-size: 2em;
   }
}
